<template>
  <q-page class="flex flex-center text-accent">
    <q-card
        class="q-pa-xl q-ma-xl bg-dark"
        style="width: 100%"
        >
      <div >
        <h2>Me voici, me voilà!</h2>
        <q-img :src="image"/>
        <h5>Ingénieur logiciel, avec pas beaucoup de temps, mais beaucoup de projets</h5>
        <p>
          Ce site est un départ, un départ de quoi? Je ne sais pas :b
        </p>
      </div>
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'About',
  data () {
    return {
      image: 'https://images.pexels.com/photos/1257860/pexels-photo-1257860.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'
    }
  }
}
</script>
