<template>
  <q-page class="q-pa-xl text-accent">
      <div >
    <h2 >Voici le blog</h2>
      </div>
    <div>
      <div>
        <q-card class="q-pa-md q-my-md bg-dark" >
            <q-markdown :src="firstBlog" />
        </q-card>
        <q-card class="q-pa-md q-my-md bg-dark" >
            <q-markdown :src="blogs[1]"/>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import blogs from 'src/blog/index'
import firstBlog from 'src/blog/FirstBlog.md'

export default {
  name: 'Blog',
  data () {
    return {
      blogs: blogs,
      firstBlog: firstBlog
    }
  }
}
</script>
