<template>
  <q-page class="flex flex-center text-accent" >
    <q-card
        class="q-pa-xl q-ma-xl bg-dark"
        style="width: 100%"
        >
      <div
        class="flex flex-center "
        >
        <h2>Finalement!</h2>
        <q-img
        :src="homeImage"
        />
      </div>
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      homeImage: 'https://images.pexels.com/photos/1653689/pexels-photo-1653689.jpeg'
    }
  }
}
</script>
