<template>
  <div id="login" class="absolute-center">
    <q-card class="q-pa-xl bg-primary" >
    <h2>Login</h2>
    <q-input
      type="text"
      name="username"
      v-model="input.username"
      placeholder="Username"
    />
    <q-input
      type="password"
      name="password"
      v-model="input.password"
      placeholder="Password"
    />
    <q-btn label="Login" v-on:click="login()"  class="bg-accent q-my-md"/>
    </q-card>
  </div>
</template>

<script>
import store from 'src/store'

export default {
  name: 'Login',
  data () {
    return {
      input: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    login () {
      store.login(this.input.username, this.input.password)
    }
  }
}
</script>

<style scoped>
    #login {
      min-width: 75%;
    }
</style>
