<template>
  <div
    id="q-app"
  >
    <router-view :style="{'background-image':'url(https://i.postimg.cc/qRJXYHgj/stars2.png)'}"/>
  </div>
</template>
<script>
import store from './store'
const init = async () => {
  await store.init()
}
init()

export default {
  name: 'App',
  data () {
    return {
    }
  }
}
</script>
