<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="bg-primary glossy text-white shadow-2 rounded-borders">
            <q-tabs shrink align="right" >
              <q-route-tab name="random"  label="fffff" to='/secure/random'  />
            </q-tabs>
            <q-space/>
            <q-btn label="logout" v-on:click="() => logout()"/>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import store from 'src/store'

console.log(store.state.user)
if (!store.state.user) {
  this.$router.replace({ name: 'login' })
}
export default {
  name: 'LoggedLayout',
  data () {
    return {
    }
  },
  methods: {
    logout () {
      if (store.state.user) {
        store.logout()
        this.$router.replace({ name: 'home' })
      }
    }
  }
}
</script>
