<template>
  <q-layout >
    <q-page-container >
      <q-header sticky :style="{'background':'rgba(255, 165, 0, 0.3)'}">
            <q-tabs class="text-dark" active-color="yellow-5">
              <q-route-tab name="home" label="Home" to="/"/>
              <q-route-tab name="about"  label="À propos" to='/about'  />
              <q-route-tab name="blog"  label="Blog" to='/blog'  />
            </q-tabs>
      </q-header>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import store from 'src/store'

console.log(store.state)
if (store.state.user) {
  this.$router.replace({ name: 'random' })
}
export default {
  name: 'MainLayout',
  data () {
    return {
      leftDrawerOpen: false
    }
  }
}
</script>

<style scoped>

</style>
